.loading {
  display: flex;
  width: 80vw;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

h5 {
    color: #e7e4e4;
    font-size: 24px;
    font-weight: 400;
    margin: 22px 0 22px 40px;
}

.mainpage-cards-container {
  margin: 0 40px;
}

.item-container {
  margin-bottom: 40px;
}

@media (min-width: 576px){
  h5 {
    margin-left: 60px;
  }
  
  .mainpage-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 0 60px;
  }

  .item-container {
    margin-bottom: 0px;
  }
}

@media (min-width: 768px) {
  .mainpage-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .mainpage-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  h5 {
    margin-left: 100px;
  }

  .mainpage-cards-container {
    grid-template-columns: repeat(5, 1fr);
    margin: 0 100px;
  }
}

