nav {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #FB8200;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-left: 40px;
}

.navbar-image {
    width: 44px;
    margin-right: 12px;
}

h4 {
    font-size: 26px;
    color: #FB8200;

}

@media (min-width: 576px){
  .navbar-container {
    margin-left: 60px;
  }

  h4 {
      font-size: 30px;
  }
}

@media (min-width: 1200px) {
  nav {
    height: 100px;
  }

  .navbar-container {
    margin-left: 100px;
  }

  .navbar-image {
    width: 54px;
    margin-right: 12px;
  }
  
  h4 {
    font-size: 36px;
  }
}